/* Attr selector */
input[type="password"] {
    background-color: red;
    border: 0;
}

[type="text"]{
    background-color: green;
    border: 10px;
}

/* Universal selector */
* {
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    background-color: #333;
}

.navbar h2 {
    font-size: 22px;
    color: #fff;
    width: 20%;
    float: left;
}

.navbar ul {
    list-style: none;
    width: 80%;
    float: left;
}

.navbar ul li {
    display: inline-block;
    width: 100px;
}

.navbar ul li a {
    color: #20c264;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.clear {
    clear: both;
}

/* Dropdown */
.navbar > ul li {
    position: relative;
}

.navbar > ul ul {
    position: absolute;
    display: none;
}
.navbar > ul li a:hover + ul {
    display: block;
}

/* CSS Form */
form input , form select {
    display: block;
    width: 100%;
}

form input:focus {
    background-color: red;
}

[type="search"] {
    background-image: url('imgs/search-interface-symbol.png');
    background-position: 430px;
    background-repeat: no-repeat;
    padding: 1px;
    background-size: 3%;
}

/* After & Before */
.list {
    padding: 20px;
    list-style: none;
}

.list li::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: red;
    margin-right: 10px;
    vertical-align: middle;
}

/* CSS Units */
.parent {
    font-size: 15px;
}

.child {
    margin: 2em;
    
}

/* Gallary */
.Gallary {
    margin: 5px;
    border: 1px solid #ccc;
    width: 180px;
    display: inline-block;
}

.Gallary:hover {
    border: 1px solid #777;
}

.Gallary img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}

/* More About Nesting */
p.item {
    color: #20c264;
    background-color: #333;
}

span.item {
    color: aqua;
    background-color: blueviolet;
}

div.item {
    color: blueviolet;
    background-color: aqua;
}

.item.test.orange {
    color: cadetblue;
    background-color: #20c264;
}

/* Specificity */
/* 0 0 1 0 = 10 */
.local {
    color: blue;
}

/* 0 1 0 0 = 100 */
#demo {
    color: yellow;
}

/* ( style inline ) id ( class | pseudo class | attr class ) element */

/* 
0 0 1 2 = 12
div .item p {

}

0 1 1 3 = 113
#demo div [id="item"] p span {

}

0 1 3 1 = 131
#demo .test p[title="test"]:hover {

}
*/